body {
    background-color: #5a7098;
    font-family: sans-serif;
}

/*grid layout for everything*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.125fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo search addons"
        "additional-info additional-info additional-info"
        "bestelling bestelling bestelling"
        "disclaimer disclaimer disclaimer";
    width: 80%;
    margin-left: 10%;

    /*style*/
    border: 2px solid #6495ED;
    height: auto;
    background-color: white;
    flex: 1;
}

.bestelling {
    grid-area: bestelling;
    border: 2px solid #6495ED;
    background-color: white;
    color: #13293D;
    text-align: center;
}