body{
    background-color: #5a7098;
    font-family: sans-serif;
}

  #overviewProduct{
   display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.25fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  grid-template-areas: 
    "bigImage overall"
    "bigImage overall"
    "bigImage overall"
    "tinyImages blank"
  ; 
  
  height: 80%;
  width: 90%;

  /* style */
  border: 2px solid #6495ED;
  border-radius: 15px;
  background-color: white;
  padding: 5%;
  margin-top: 2.5%;
}  

#tinyImages{
  height: 100%;
  width: 100%;
  align-items: center;
  margin-left: 10%;
}

#tinyImages img{
  height: 80%; 
  width: 25%;
}


#bigImage{
  height: 90%;
  width: 100%;
}
 .product{
  padding: 5%;
  height: 100%;
  width: 885%;
  /*885% if you want full coverage (well how i want full coverage*/


  /* border: 2px solid #ed6464;
  border-radius: 15px; */
  display: grid;
  grid-template-areas:
  "overviewProduct";

  
}



@media only screen and (max-width: 1150px){

  #overviewProduct{
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas: 
     "bigImage"
     "tinyImages" 
     "overall"
   ; 
   width: 45%;
   margin-top: 0%;
   margin-bottom: 2.5%;

 }  

 #bigImage{
  height: 70%;
 }

 #tinyImages img{
  margin-top: 10%;
  height: 25%;
 }

}
  
/*For responsiveness. This changes the grid layout so it's better displayed and doesn't bug out*/
@media only screen and (max-width: 745px){

}

  
/*Responsiveness for even smaller screens*/
@media only screen and (max-width: 450px){
 

  
}